NAME={{  dev_name  }}
DEVICE={{  dev_name  }}
TYPE={{  dev_type  }}
ONBOOT={{  on_boot  }}

{% if ipv4_boot_proto is defined %}
BOOTPROTO={{ ipv4_boot_proto }}
{% elif ipv4_addr is defined %}
IPADDR={{ ipv4_addr }}
PREFIX={{ ipv4_prefix }}
{% endif %}
{% if ipv4_gateway is defined %}
GATEWAY={{ ipv4_gateway }}
{% endif %}

{% if (dhcpdvc is defined or ipv6_autoconf is defined or ipv6_addr is defined) %}
IPV6INIT="yes"
{% if dhcpdv6c is defined %}
DHCPV6C=dhcpdv6c
{% elif ipv6_autoconf is defined %}
IPV6_AUTOCONF=yes
{% elif ipv6_addr is defined %}
IPV6ADDR={{ ipv6_addr }}/{{ ipv6_prefix }}
{% endif %}
{% if ipv6_gateway is defined %}
IPV6_DEFAULTGW=ipv6_gateway
{% endif%}
{% if ipv6_forwarding is defined %}
IPV6FORWARDING={{ ipv6_forwarding }}
{% endif%}
{% endif%}
