option  domain-name "{{ domain_name }}";
option  domain-name-servers {{ dns1 }} {% if dns2 is defined %}, {{ dns2 }} {% endif %};

{% for subnet in subnets %}
subnet {{ subnet.address }} netmask {{ subnet.netmask }}{
    option routers {{ subnet.router }};
    range {{ subnet.range_start }} {{ subnet.range_end }};
}
{% endfor %}

{% for host in hosts %}
host {{ host.name }} {
    hardware ethernet {{ host.mac }};
    fixed-address {{ host.ip }};
}
{% endfor %}